@import "custom";
@import "~bootstrap/scss/bootstrap";

$bluish: #8884ff;
$gray: #ebeaeb;
$light-bluish: #ebebff;
$bg: #f6f6f6;

body {
    margin: auto;
}

@include media-breakpoint-up(xs) {
    body { width: 100%; font-size: 8px; }
}
@include media-breakpoint-up(sm) {
    body { width: 100%; font-size: 8px; }
}
@include media-breakpoint-up(md) {
    body { width: 100%; font-size: 8px; }
}
@include media-breakpoint-up(lg) {
    body { width: 100%; font-size: 10px; }
    main { width: 85%; }
}
@include media-breakpoint-up(xl) {
    body { width: 85%; font-size: 12px; }
    main { width: 85%; }
}
@include media-breakpoint-up(xxl){
    body { width: 85%; font-size: 14px; }
    main { width: 85%; }
}
@include media-breakpoint-up(3xl){
    body { width: 85%; font-size: 16px; }
    main { width: 85%; }
}

header {
    border: ridge 2px;
    background-color: $gray;
    border-color: black;
    
    height: 4.8em;
}

main {
    margin: auto;
    h1 {
        font-size: 2.5em;
        font-weight: normal;
    }
}

.site-logo {
    padding-left: 0.25em;
    padding-right: 0.25em;
    font-size: 2.8em;
    user-select: none;
    font-family: serif;
    color: white;
    background-color: $bluish;
}

.site-name {
    font-size: 0.9em;
    color: $bluish;
}

.btn-upload {
    font-size: 1.4em;
    background-color: $bluish;
    color: white;
}

@mixin color-change($amount) {
    $base-color: transparentize($bluish, 0.0);
    @for $i from 1 through $amount {
        &:nth-child(#{$amount}n + #{$i}) {
            .card-body {
                background-color: desaturate($base-color, $i * 15%);
            }
        }
    }
}

.cards-container {
    .col {@include color-change(6);}

    .card {
        &-img-overlay { 
            .type {
                display: inline;
                font-weight: bold;
                border: solid 1px;
                background-color: $light-bluish;
                border-color: $bluish;
            }
            pointer-events: none;
        }

        &-title {
            font-weight: bold;
            font-size: 1.5em;
        }
       
        &-text {
            font-size: 100%; 
        }
    }
}

footer {
    border-top: ridge 2px;
    border-color: black;
}

